<mat-tab-group>
    <mat-tab label="All Applications">
      <app-all-applications></app-all-applications>
    </mat-tab>
    <mat-tab label="Pending Applications">
      <app-pending-applications></app-pending-applications>
    </mat-tab>
    <mat-tab label="Approved Applications">
        <app-approved-applications></app-approved-applications>
    </mat-tab>
    <mat-tab label="Rejected Applications">
        <app-rejected-applications></app-rejected-applications>
    </mat-tab>
  </mat-tab-group>