<div class="footer">
  <div class="container ">
    <div class="container row">
      <div class="col-sm-6 text-left"><h2>DS Finance</h2> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro nobis amet cum fugiat voluptas animi, doloremque maiores ea quam. Impedit nemo officiis perspiciatis tempore non dolorum iste temporibus fugit minima.</div>
      <div class="col-sm-2 text-left">
          <h2>Products</h2>
          <a href="#">Student Loan Refi</a><br>
          <a href="#">Mortgage Refi</a><br>
          <a href="#">Personal Loans</a><br>
    </div>
      <div class="col-sm-2 text-left">
          <h2>Useful Links</h2>
          <a href="#">Terms of Use</a><br>
          <a href="#">Privacy Policy</a><br>
          <a href="#">Contact Us</a><br>
        </div>
      <div class="col-sm-2 text-left">
          <h2>Contact</h2>
          Atlanta, GA, 30097, US <br>
          info@dsfinance.com <br>
          +01 234 567 88
        </div>
    </div>
    <div class="row">
      <div class="col"><hr></div>
    </div>
    <div class="row">
        <div class="col text-center">Copyright 2021: Adrian Johnson</div>
      </div>
  </div>
</div>
